
body{
	height: 100%;
	background: #FFFCFA;
}
h1, h2, h3, h4{
	color: #fff;
}
footer{
	padding: 20px;
	text-align: center;
	border-top: #195B7D 5px solid;
	background: #0c5273;
	color: #fff;
}

footer.fontpage{
	padding: 20px;
	background: #197d6d;
	color: #fff;
	max-height: 150px;
}
.frontpage, .leftside{
	background: #1592CC;
	height: 95%;
}
@media screen and (min-width: 800px){
	.leftside{	
		padding-top: 50px;
		padding-left: 20px;
		height: 760px;
	}
}
@media screen and (max-width: 799px){
	.leftside{	
		margin: 0px auto;
		padding: 10px auto;
		height: 100%;
		width: 100%;
	}
}

h4 span.right{
	float: right;
}


table th{
	font-size: 1.1em;
	color: #333;
	border-bottom: 2px solid #ccc;
}
table td{
	font-size: 1em;
	color: #000;
}

.leftside p{
	color: #FFF;
}
.rightside{
	min-height: 500px;
	padding: 20px 20px;
}
.rightside p{
	font-size: 1.1em;
}
.rightside p.info{
	font-size: 1.3em;
	color: #195B7D;
}
.rightside h3{
	color: #003851;
}
.rightside h4{
	color: #003851;
	border-bottom: #003851 1px dashed;
	padding-bottom: 2px;
}
.rightside h5{
	color: #003851;
	font-size: 1.1em;
}

.rightside table tr td{
	font-size: 1.1em;
}
.rightside p b{
	width: 80px;
	text-align: right;
	display: inline-block;
}

.rightside i.fa{
	width: 50px;
	padding-right: 20px;
	display: inline-block;
	text-align: right;
}
.rightside .circle{
	margin: 20px auto;
	display: block;
	padding-bottom: 60%;
	width: 60%;
	height: 0;
	border-radius: 50%;
	border: #999 2px solid;
}
.rightside .circle div{
	float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
}
.rightside .r-side{
	background: rgba(116,193,230,0.4);
	padding: 10px 10px;
	margin-top: 20px;
	border-radius: 10px;
}
.rightside .r-side span.label{
	width:40%;
	display: inline-block; 
	text-align: right;
	padding-left: 0px;
	color: #333;
	font-size: 1em;
}

.cover{
	padding: 80px 0px;
	height: 360px;
	min-height: 300px;
}
.form{
	background: #FFFCFA;
	color: #195B7D;
	min-height: 150px;
	/*border-top: #0E69B7 5px solid;*/
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 60px;
}

.slider, .slider-bar{
	margin-top: 10px;
	height: 20px;
}

#cpSlider .slider-selection{
	background: gray;
}

.detailcamp{
	background: #ddd;
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	color: blue;
}

.clr{
	clear:both;
}



